[submodule "external/jemalloc_new"]
	path = external/jemalloc_new
	url = https://github.com/aosp-riscv/external_jemalloc_new.git
[submodule "bionic"]
	path = bionic
	url = https://github.com/aosp-riscv/platform_bionic.git
[submodule "external/toybox"]
	path = external/toybox
	url = https://github.com/aosp-riscv/platform_external_toybox.git
